/* #box{
    height: 200px;
    width: 100px;
    border: 2px solid black;
    text-align:center;
    background-color: brown;
    color: aqua;
} */

.content{
    color: red;
}

.newClass {
    background-color: green;
}